*{
    margin: 0;
    padding: 0;
    font-family: 'Castoro', serif;
}
body{
    background-image: url(https://i.insider.com/5d76b3476f24eb2a5d2fb239?width=1200&format=jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
.form-box{
    width: 250px;
    height: 380px;
    position: relative;
    margin: 6% auto;
    background-color:rgba(241, 122, 11, 0.952);
    padding: 60px;
    overflow: hidden;
    border-radius: 15px;
}
h2{
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    color: white;
}
.input-group{
    top: 130px;
    position: absolute;
    width: 240px;
    color: grey;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 10px 8px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid rgb(71, 69, 69);
    outline: none;
    background: transparent;
}
p{
    font-size: 14px;
    margin-left: 10px;
    margin-top: 10px;
    color: white;
}
#select{
    width: 100%;
    padding: 10px 0;
    margin: 10px 8px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid rgb(71, 70, 70);
    outline: none;
    color: rgb(93, 92, 92);
    background: transparent;
}
.submit-btn{
    width: 35%;
    padding: 10px 30px;
    cursor: pointer;
    display: flex;
    margin: auto;
    background-color: rgb(255, 255, 255);
    border: 0;
    outline: none;
    margin-bottom: 50px;
    border-radius: 30px;
    margin-left: 90px;
}